.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 9px;
  margin-bottom: 20px;
}

.task {
  font-size: 24px;
  letter-spacing: 1px;
}

.editIcon,
.deleteIcon {
  font-size: 24px;
  cursor: pointer;
}

.editIcon {
  margin-right: 15px;
}
